//Colors
$success: #BDD350;
$failure: #E74C3C;
$warning-light: #FFD34E;
$warning-dark: #F48E36;
$brand-primary: #94399E;
$brand-secondary: #4AD9D9;
$brand-shade: #36B1BF;
$dark-primary: #25282D;
$dark-secondary: #1B1D21;
$dark-button-color:  #1C425C;
$light: #FFFFFF;
 
//Font Styles
$default-font-extra-bold: 'URWGeometric-ExtraBold';
$default-font-normal-bold: 'URWGeometric-Semibold';
$default-font-normal: 'URWGeometric-Medium';