//Colors
$success: #BDD350;
$failure: #E74C3C;
$warning-light: #FFD34E;
$warning-dark: #F48E36;
$brand-primary: #94399E;
$brand-secondary: #4AD9D9;
$brand-shade: #36B1BF;
$dark-primary: #25282D;
$dark-secondary: #1B1D21;
$dark-button-color:  #1C425C;
$light: #FFFFFF;
$dark: #000;
$mobile-border-color: #979797;
 
//Font Styles
$default-font-extra-bold: 'URWGeometric-ExtraBold';
$default-font-normal-bold: 'URWGeometric-Semibold';
$default-font-normal: 'URWGeometric-Medium';

//default padding and margin

$container_padding_xl_desktop: 100px;
$container_padding_mobile: 5px;
$container_padding_tablet_desktop: 50px;

//Custom Breakpoints
$tablet_max-width: 768px;
$tablet_min-width: 767.98px;

$desktop-medium_max-width: 992px;
$desktop-medium_min-width: 991.98px;

$desktop-large_max-width: 1220px;
$desktop-large_min-width: 1199.98px;


// custom grid columns

$three-column: (
  columns: 3,
  gutter: 60px,
  media: 1200px
);

$four-column: (
  columns: 4,
  gutter: 10px,
  media: 1200px
);

$six-column: (
  columns: 2,
  gutter: 10px,
  media: 1200px
);

$single-column: (
  columns: 1,
  gutter: 25px,
);

$five-column: (
  columns: 5,
  // gutter: 3rem,
);