@import 'enterprise/utilities';
@import 'enterprise/enterprise_grid';
@import 'enterprise/enterprise_variables';
@import 'enterprise/overview';
@import 'enterprise/features';
@import 'enterprise/plugins';
@import 'enterprise/contact';

.enterprise-quotes{
  margin-top: 40px;
}

.enterprise-stock-head-image{
  width: 140px;
  height: 140px;
  @media (max-width: $tablet_max-width){
    float: none !important;
  }
}

.enterprise .mktoButtonWrap{
  margin-left: 0 !important;
  width: 100%;
}

.enterprise .mktoButton{
  background: $brand-secondary;
  display: block;
  margin: 0 auto;
  padding: 5px 50px;
  font-family: $default-font-normal-bold !important;
  font-size: 22px;
  text-transform: uppercase;
  width: 100%;
}

.enterprise .mktoField{
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  padding: 5px;
  width: 100%;
}
.enterprise .cf_sign_on{
  display: none;
}