<footer>
  <div class="join-community">  
    <ul>
      <li>
        <a href="https://groups.google.com/forum/#!forum/go-cd" target="_blank" analytics-label="google-group">
          <i class="icon fa fa-users fa-4x join-us" aria-hidden="true"></i>
          <span>Join our discussion forum</span>
        </a>
      </li>
      <li>
        <a href="https://gitter.im/gocd/gocd" target="_blank" analytics-label="gitter">
          <i class="icon fa fa-comments fa-4x develop-with-us" aria-hidden="true"></i>
         <span>Chat with us</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/gocd/gocd" target="_blank" analytics-label="github">
          <i class="icon fa fa-github fa-4x watch-us" aria-hidden="true"></i>
          <span>watch us</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/goforcd" target="_blank" analytics-label="twitter">
          <i class="icon fa fa-twitter fa-4x follow-us" aria-hidden="true"></i>
          <span>follow us</span>
        </a>
      </li>
      
      <li>
      <%= link_to "<i class= 'icon fa fa-envelope fa-4x subscribe' aria-hidden='true'></i> <span>subscribe</span>".html_safe, '/subscribe/index.html' %>
      </li>
    </ul>
  </div>

  <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="unordered-list">
            <li><a href="https://www.gocd.org/download/">DOWNLOAD GoCD</a></li>
            <li><a href="https://www.gocd.org/plugins/">PLUGINS</a></li>
            <li><a href="http://github.com/gocd">FORK ME ON GITHUB</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="unordered-list">
            <li><a href="https://www.gocd.org/contribute/">CONTRIBUTE</a></li>
            <li><a href="https://www.gocd.org/events/">WEBINARS + EVENTS</a></li>
            <li><a href="https://www.gocd.org/resources.html">RESOURCES</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="unordered-list">
            <li><a href="https://www.gocd.org/getting-started/part-1/">GETTING STARTED </a></li>
            <li><a href="https://brandfolder.com/twproducts">LOGOS + BRAND</a> </li>
            <li><a href="https://www.go.cd/enterprise/support/">ENTERPRISE SUPPORT</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="unordered-list">
            <li><a href="https://support.thoughtworks.com/hc/en-us/requests/new">SUBMIT A TICKET</a></li>
            <li><a href="https://www.thoughtworks.com/go/thoughtworks-support-services-general-terms/">TERMS + CONDITIONS</a></li>
            <li><a href="https://www.thoughtworks.com/privacy-policy">PRIVACY</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <p>
            GoCD is an open-source project, sponsored by <a target="_blank" href="http://www.thoughtworks.com" analytics-label="link_footer_thoughtworks">ThoughtWorks Inc.</a>
            under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="Apache 2.0 License">Apache License, Version 2.0</a>
          </p>
        </div>
  </div>
</footer>
