<div class="support">
  <div class="container">
    <div class="go-support">
      <p>ThoughtWorks offers commercial support for <span class="go">Go</span>CD. Sign up for expert support and access to enterprise add-ons.</p>
      <%= link_to 'Get Support', '/enterprise/index.html', 'analytics-label' => 'professional-support' %>
    </div>
  </div>
</div>
