.events, .workshops {

  main {
    padding-top: 0;
  }

}

.webinars-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    @include clearfix;
    @extend %flexbox;
    @include justify-content(flex-start);
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px dashed $border;

    .title {
      font-size: 18px;
      display: block;
    }

    .time {
      display: block;
      color: $gray-light;
    }

  }

}

.demos {
  background-image: url("/assets/images/halftone_gradient_background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  @include clearfix;
  position: relative;
  overflow: hidden;

  @media (min-width:$screen-tablet) {
    margin: 0 0 50px 0;
    background-size: cover;
  }

  h3 {
    margin: 0px 0 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    @media (min-width:$screen-tablet) {
      margin: 30px 0;
      font-size: 40px;
      text-align: center;
    }

  }
  p{
    color: #fff;
    text-align: center;
    position: relative;

    @media(max-width: $screen-tablet){
      text-align: left;
    }
  }

  &:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    display:block;
    // background:rgba(64, 24, 66, 0.71);
    top:0;
  }

}

.demo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    // display: inline-block;
  }

  .details {
    position: absolute;
    background: $primary-color;
    color: #fff;
    padding: 10px 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease;
    bottom: -50px;
    width: 100%;
    white-space: nowrap;

    @media (min-width:$screen-tablet) {
      width: auto;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    h3{
      position: relative;
      font-family: 'URWGeometric-ExtraBold';
    }

    a{
      position: absolute;
      right: 20px;
      top: 20px;
      line-height: 0.2;
      text-transform: uppercase;
    }
  }

  li:hover .details {
    transition: all .3s ease;
    bottom: 0px;
    opacity: 1;
    display: block;
  }

}

.datebox {
  background: #fff;
  padding-top: 5px;
  border-top: 5px solid  #4adad9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // margin-right: 20px;
  margin: 0 auto;
  text-align: center;
  color: #000;
  width: 110px;
  height: 110px;

  .month {
    display: block;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 12px;
    font-weight: 600;
    line-height: 0px;
    text-transform: uppercase;
  }

  .date {
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
  }
  .time{
    display: block;
    font-size: 10px;
    font-weight: 600;
  }
  .location{
    display: block;
    font-size: 10px;
    font-weight: 600;
  }
  .button-small{
    background-color: #4adad9;
    font-size: 12px;
    padding: 5px 10px;
    color: #000;
    font-weight: 600;
    border-radius: 2px;
    text-transform: uppercase;
  }
}

.events-list,
.dates, .workshops-list  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.event, .workshop {
  @media screen and (max-width:$screen-xs-max) {
    margin-top: 50px;
  }

  .page-headings{
    text-align: center;
    border: 0px;
    text-transform: uppercase;
  }

  .date,
  .location {
    display: inline-block;

    .fa {
      color: $gray-light;
      margin-right: 5px;
    }

  }

  .date {
    margin-right: 20px;
  }

}

.events-list, .workshops-list  {
  margin: 30px 0;

  > li {
    // margin-bottom: 20px;
    // padding: 10px 0;
    // border-bottom: 1px dashed #cccccc;
  }

}

.details {
  a.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;

    .fa {
      color: $secondary-color;
      margin-top: 5px;
    }

  }

}

.dates {
  margin: 10px 0px 10px;
  @include flexbox;
  @include flex-wrap(wrap);

  li {
    display: block;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;

    @media only screen and (min-width:$screen-lg-desktop) {
      display: block;
      width: 100%;
    }

  }

}

.workshop-topic, .workshop-presenter {
  display: inline-block;
}

.workshop-presenter {
    margin-left: 20px;
    font-style: italic;
    font-size: 0.9em;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.event-item {
  padding: 0 15px;
  @media (min-width: $screen-md){
    padding: 0 14px;
  }

  @media (min-width: $screen-lg){
    padding: 0 30px;
  }

  @media (min-width: $screen-xl){
    padding: 0 40px;
  }
}

.events-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  border: 1px solid #000;
  height: auto;
  margin: 0 0 10px 10px;
  padding: 10px;
  width: 100%;

  @media (min-width: $screen-md){
    width: 48%;
  }
}

