
<div class="enterprise">
  <%= partial 'partials/secondarynav' %>
  <div class="content-container header-padding">
    <h1 class="text-center"> Contact US </h1>
  <div class="grid-container">
  <div class="content-card-six-column">
    <p>Intrested in our enterprise offering?</p>
    <p>Connect with us so we can learn more about how to help you.</p>
    <p>You can also email us directly at suppor@thoughtworks.com</p>
  </div>
    <%= partial 'partials/supportform' %>
  </div>
  </div>

  <div class="contact-section">
    <h1 class="text-center">We’re in your neighborhood!.</h1>
    <div class="grid-container content-container">
      <div class="content-card-three-column">
        <h3 class="bold-text text-center">America Hours</h3>
        <h2 class="text-center bold-text">Craig</h2>
        <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
        <h3 class="text-center bold-text">+1 415 463 1900</h3>
      </div>

      <div class="content-card-three-column">
        <h3 class="bold-text text-center">Europe Hours</h3>
        <h2 class="text-center bold-text"> Alagu </h2>
        <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
        <h3 class="text-center bold-text">+44 (0) 20 7497 4500</h3>
      </div>

      <div class="content-card-three-column">
        <h3 class="bold-text text-center">Asia, Australia &amp; Africa Hours</h3>
        <h2 class="text-center bold-text">Rupesh</h2>
        <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
        <h3 class="text-center bold-text">+91 80 4323 3722</h3>
      </div>

    </div>
    </div>
  
  <script src="/assets/javascripts/marketo_popover.js"></script>
</div>
