
<div class="enterprise">
  <%= partial 'partials/secondarynav' %>
    <div class="content-container p-t-3">
      <h1 class="text-center">Pricing</h1>

      <table class="custom-table">
        <tr>
          <th>Number of Pipelines</th>
          <th>Includes</th>
          <th>PRICING, PER YEAR, USD</th>
        </tr>

        <tr>
          <td>1-50</td>
          <td>Support Only</td>
          <td>$5,000</td>
        </tr>

        <tr>
          <td>51-250</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>$15,000</td>
        </tr>

        <tr>
          <td>251-500</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>$25,000</td>
        </tr>
        
        <tr>
          <td>500+</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>Let's Talk</td>
          </tr>
      </table>
    </div>
  <script src="/assets/javascripts/marketo_popover.js"></script>

</div>