<%= partial 'partials/secondarynav' %>
<div class="enterprise container"> 
    <div class=" header-padding">
      <h1 class="text-center">Pricing</h1>
      <p class="text-center">
        The more pipelines your organization has, the higher level of complexity you manage. Our commercial tiers are tailored to meet the needs of that complexity. We provide the plugins and expert support to facilitate using GoCD in an enterprise environment. 
      </p>
      <table class="custom-table">
        <tr>
          <th>Number of Pipelines</th>
          <th>Includes</th>
          <th>PRICING, PER YEAR, USD</th>
        </tr>

        <tr>
          <td>1-50</td>
          <td>Support Only</td>
          <td>$5,000</td>
        </tr>

        <tr>
          <td>51-250</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>$15,000</td>
        </tr>

        <tr>
          <td>251-500</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>$25,000</td>
        </tr>
        
        <tr>
          <td>500+</td>
          <td>Support + Add-ons &amp; Plugins</td>
          <td>Let's Talk</td>
          </tr>
      </table>
    </div>
    <button class="button-brand">Contact Us to Get Started</button>
  <script src="/assets/javascripts/marketo_popover.js"></script>

</div>