<div class="enterprise">
    <%= partial 'partials/secondarynav' %>
    <div class="content-container header-padding">
      <h1 class="text-center">SUPPORT</h1>
    </div>

    <div class="content-container intro-section">
      <div class="grid-container">
        <div class="content-card-six-column">
          <p>
            GoCD's expert support team offers you the reassurance that your issues are prioritized. Get unlimited support cases per month, quick 1-hour, 24x5 turnaround for urgent severity issues, and access to our development team forums. </p>
        </div>
        <div class="content-card-six-column">
          <img class="img-responsive" src="http://via.placeholder.com/600x400" alt="placeholder"/>
        </div>
      </div>
    </div>

    <div class="grid-container display-desktop">
      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>
    </div>

    <hr class="mobile-border" />
    <div class="grid-container">
      <div class="content-card-six-column">
        <h3>SIGN UP FOR OUR SUPPORT TRIAL</h3>
        <p>We offer a free 30-day trial for our support services. Contact us to get started.</p>
        <p>You can also email us directly at support@thoughtworks.com</p>
      </div>
      <%= partial 'partials/supportform.html.erb' %>
    </div>
  <hr class="mobile-border" />

    <div class="grid-container display-mobile">
      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>

      <div class="content-card-six-column">
        <div class="grid-container">
          <div class="content-card-six-column">
            <img class="img-container img-rounded__bordered" src="http://via.placeholder.com/120x120" alt="placeholder"/>
          </div>
          <div class="content-card-six-column">
            <quote>GoCD is the best thing that has ever happened to me, and having support on my side made the transition from jenkins incredible easy.</quote>
          </div>
        </div>
      </div>
    </div>


    
</div>
